.techs__buttons {
    display: flex;
    flex-direction: row;
    padding-top: 100px;
    padding-bottom: 30px;
    justify-content: center;
}


@media (max-width: 768px) {
    .techs__buttons {
        padding-top: 80px;
        padding-bottom: 90px;
    }
}

@media (max-width: 320px) {
    .techs__buttons {
        padding-top: 50px;
        padding-bottom: 90px;
        flex-wrap: wrap;
        padding-right: 46px;
        padding-left: 46px;
        justify-content: left;
    }
}