.techs__button {
    height: 60px;
    width: 90px;

    background-color: #303030;

    font-size: 12px;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    text-align: center;

    border-radius: 10px;
    border: none;

    cursor: pointer;
    box-sizing: border-box;
    margin-left: 5px;
    margin-right: 5px;

    }

.techs__button:hover {
    opacity: 80%;
    font-weight: 400;
}

@media (max-width: 768px) {
    .techs__button {
        height: 57px;
        width: 84px;

        line-height: 14px;
    } 
}

@media (max-width: 320px) {
    .techs__button {
        margin-bottom: 10px;
    } 
}