.profile__edit {
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: center;
    color: white;

    padding-top: 220px;
    margin-bottom: 16px;
    text-decoration: none;

    background-color: #202020;
    border: none;

}

.profile__edit:hover {
    opacity: 80%;
    border-bottom: 1px solid white;
}