@import url('./_type/profile__title_type_register.css');

.profile__title {
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
    color: white;

    padding-top: 74px;
    padding-bottom: 123px;
}