.header__link_type_burger {
    font-size: 12px;
    font-weight: 500;
    color: white;
    text-decoration: none;
    padding-top: 159px;

    }

.header__link_type_burger:not(:first-child) {
    font-size: 12px;
    font-weight: 500;
    color: white;
    text-decoration: none;
    padding-top: 28px;
    }

.header__link_type_burger:last-child {
    font-size: 12px;
    font-weight: 500;
    color: white;
    text-decoration: none;
    padding-top: 40vh;
    }
    

.header__link_type_burger:hover {
    font-weight: 300;
    border-bottom: 1px solid white ;
}

@media (min-width: 768px) and (max-width: 5000px) {

    .header__link_type_burger {
        /* opacity: 0; */
        display: none;
    }
}
    



@media (max-width: 320px) {

    .header__link_type_burger {

        font-size: 12px;
        line-height: 16px;
    }
}