.header__link {
    font-size: 12px;
    font-weight: 500;
    color: white;
    /* margin-left: 15px; */
    margin-right: 30px;
    text-decoration: none;
    }

.header__link:hover {
    font-weight: 300;
    border-bottom: 1px solid white ;
    }

@media (max-width: 768px) {

    .header__link {
        /* opacity: 0; */
        display: none;
    }
}

@media (max-width: 320px) {

    .header__link {

        font-size: 10px;
        line-height: 16px;
        margin-right: 14px;
    }
}