.header__burger-icon {
    width: 44px;
    background-color: #202020;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    /* background-image: url('../../../../images/burger_menu_max.svg'); */
    border: none;
    

    
    /* display: none; */
}

@media (max-width: 768px) {

    .header__burger{
        /* opacity: 0; */
        display: inline;
    }
}