.about-me__title {
    /* font-family: Inter; */
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 58px;
    letter-spacing: -0.04em;
    text-align: left;

    color: #FFFFFF;

    padding-top: 66px;

    margin-top: 0px;
    margin-bottom: 0px;


}


@media (max-width: 768px) {
    .about-me__title {
        padding-right: 50px;

        font-size: 40px;
        line-height: 40px;
    }
}


@media (max-width: 320px) {
    .about-me__title {
        font-size: 30px;
        line-height: 36px;
    }
}