.header__button {
    height: 32px;
    width: 76px;

    background-color: #3DDC84;

    font-size: 12px;
    line-height: 22px;
    color: black;
    font-style: normal;
    font-weight: normal;
    text-align: center;

    border-radius: 3px;  
    border-radius: 2px;
    border: none;

    cursor: pointer;
    box-sizing: border-box;
    text-decoration: none;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    }

.header__button:hover {
    opacity: 80%;
}

@media (max-width: 320px) {

    .header__button {
        height: 26px;
        width: 54px;
        font-size: 10px;
        line-height: 16px;
    }
}