@import url(./__logo/header__logo.css);



.header {
  padding-top: 45px;
  margin-left: auto;
  margin-right: auto;

  max-width: 882px;


  display: flex;
  flex-direction: column;
  justify-content: space-between;

  border-bottom: 1px solid #545454;
  opacity: 0.7;

}


@media (max-width: 425px) {

  .header {
    padding-top: 16px;
    box-sizing: border-box;

  }
}
