.header__menu {


    display: flex;
    flex-direction: row;
    padding-right: 70px;
    align-items: center;
    /* padding-bottom: 40px; */
  
}

@media (max-width: 768px) {

    .header__menu {

        padding-right: 30px;

    }
}

@media (max-width: 320px) {

    .header__menu {

        padding-right: 14px;

    }
}